.env
data/NQ
data/SQuAD
.vscode/
.venv/
*/__pycache__
__pycache__/
output/
webex_updates/
utils/data/__pycache__/
data/PegaDocs
data/PegaAcademy
data/PegaQuestions
data/Launchpad
data/ASQA
*.csv
_Retired/
data/ASQA/Generated*
data/Sales
data/football
notes/
Experiments/report_vis.ipynb
data.zip
to-do.md
*.DS_store
.gitattributes